@use 'sass:map';
@import '../../style/style.scss';
    
    .slider{
        max-width: 1000px !important;
        margin: 30px auto !important; 
        background: #fff;
        display: flex;
        justify-content: center;
    
        .slider_item{
            width: 250px;
            height: 250px;
            position: relative;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: top center;
       
        }

        .react-multi-carousel-item{
            margin-left: 5px;
        }
    }
 

    .featured{
        margin-top: 50px;

        .section_title{
            text-align: center;
            margin-bottom: 50px;

            h2 {
                position: relative;
                color: map.get($theme-colors, 'main');
            }

            h2::after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -15px;
                height: 4px;
                width: 80px;
                background-color: pink;
                content: "";
                margin: 0 auto;
              }     
        }

        .products_img{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;
          
        }
    }